<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <h2>Sport<span>IVA</span></h2>
            <a href="#">Главная</a>
            <a href="#">Абонемениты</a>            
            <a href="#">Направления</a>            
            <a href="#">Расписание</a>            
            <a href="#">О клубе</a>            
            <a href="#">Команда</a>            
            <a href="#">Авторизация</a>
            <img src="../static/img/men_icon.svg" alt="men_icon"> 
        </nav>
        <h1>
            Бесплатное <span>пробное<br>занятие</span>
        </h1>
        <p>Получи абонемент с <span>20%</span> скидкой</p>
        <div>
            <p>Оцени свои<br>возможности</p>
            <button>Записаться</button>
        </div>
    </header>
    <main>
        <section id="advantages">
            <div>
                <h1>Создаём комфортную атмосферу</h1>
                <h2>Мы работаем индивидуально с каждым!</h2>
            </div>
            <div>
                <p>Круглосоточная работа</p>
                <p>Удобное расположение</p>
                <p>Низкие цены</p>
            </div>
        </section>
        <section id="directions">
            <h1>НАПРАВЛЕНИЯ</h1>
            <div>
                <a href="#">ЙОГА</a>
                <a href="#">ПИЛАТЕС</a>
                <a href="#">ПЛАВАНИЕ</a>
                <a href="#">БОКС</a>
            </div>
        </section>
        <section id="clubCards">
            <h1>Клубные карты</h1>
            <div>
                <a href="#">КЛУБНАЯ КАРТА</a>
                <p>Именные карты<br>нашего клуба для<br>каждого обладателя<br>абонемента </p>
            </div>
            <div>
                <p>Узнать подробнее --></p>
                <a href="#">КЛУБНАЯ КАРТА VIP</a>
            </div>
        </section>
        <section id="coachingStaff">
            <h1>Тренерский состав</h1>
            <div>
                <p><</p>
                <p>></p>
            </div>
        </section>
        <section id="contacts">
            <h1>Контакты</h1>
            <div class="contactCard">
                <div class="contact">
                    <h2>Адрес:</h2>
                    <p>р-н Филевский парк,<br>Москва, 121309</p>
                    <h4>Круглосуточно</h4>
                    <h2>Телефон</h2>
                    <p>+7(925)-323-45-43</p>
                    <h2>Почта:</h2>
                    <p>SportIVA@org.com</p>
                </div>
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab08a3b1d2775deb9e917552a507dc442bd4731c9ff32890c80ccf070f1b89be5&amp;source=constructor" width="788" height="464" frameborder="0"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <h1>Sport<span>IVA</span></h1>
        <h2>Политика конфидациальности</h2>
    </footer>
</body>
<script src="../static/scripts/script.js"></script>
</html>
