<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/section.css">
</head>
<body>
    <header>
        <nav>
            <h2>Sport<span>IVA</span></h2>
            <a href="#">Главная</a>
            <a href="#">Абонемениты</a>            
            <a href="#">Направления</a>            
            <a href="#">Расписание</a>            
            <a href="#">О клубе</a>            
            <a href="#">Команда</a>            
            <a href="#">Авторизация</a>
            <img src="../static/img/men_icon.svg" alt="men_icon"> 
        </nav>
        <div>
            <img src="../static/img/ЙОГА.svg" alt="ЙОГА">
        </div>
    </header>
    <main>
        <section id="important">
            <img src="../static/img/card.svg" alt="card">
            <div>
                <h1>Почему важна йога?</h1>
                <div><h4>1</h4><p>Укрепляет иммунитет</p></div>
                <div><h4>2</h4><p>Помогает сохранять<br>спокойствие</p></div>
                <div><h4>3</h4><p>Подтягивает тело</p></div>
                <div><h4>4</h4><p>Позволяет прочувствовать<br>своё тело</p></div>
            </div>
        </section>
        <section id="structure">
            <div>
                <h1>Почему важна йога?</h1>
                <div><h4>1</h4><p>Укрепляет иммунитет</p></div>
                <div><h4>2</h4><p>Помогает сохранять<br>спокойствие</p></div>
                <div><h4>3</h4><p>Подтягивает тело</p></div>
                <div><h4>4</h4><p>Позволяет прочувствовать<br>своё тело</p></div>
            </div>
            <img src="../static/img/card.svg" alt="card">
        </section>
        <section id="coachingStaff">
            <h1>Тренерский состав</h1>
            <div>
                <div>
                    <img src="../static/img/Coach.svg" alt="">
                    <h2>Минина Виктория</h2>
                    <p>Стаж: 5 лет</p>
                </div>
                <div>
                    <img src="../static/img/Coach.svg" alt="">
                    <h2>Минина Виктория</h2>
                    <p>Стаж: 5 лет</p>
                </div>
            </div>
            <h1>Расписание</h1>
        </section>
        <section id="schedule">
            <h1>Расписание тренировок по направлению</h1>
            <h1>Покупка абонемента</h1>
        </section>
    </main>
    <footer>
        <h1>Sport<span>IVA</span></h1>
        <h2>Политика конфидациальности</h2>
    </footer>
</body>
</html>